<html>

<head>
  <title>DoorOpener</title>
  
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="../static/js/noselect.js"></script>
</head>

<body>
  <header></header>
  <main class="single_box">
    <div class="login-form">
      <h1 class="status_message">{{ message | replace('\n', '<br>') | safe }}</h1>
      <div class="login_icons">
        <span class="icon" style="font-size: 100px;">
          {{ icon }}
        </span>
      </div>
      {% if isOOBENext %}
      <button type="button" onclick="location.href='/welcome/setup'">이어서 설정하기</button>
      {% elif isOOBE %}
      <button type="button" onclick="location.href='/'">로그인</button>
      {% else %}
      <button type="button" onclick="location.href='/'"><span class="icon">home</span>메인
        화면으로</button>
      {% endif %}
    </div>



  </main>

  <footer style="visibility: hidden;"></footer>

</body>



</html>