<html>

<head>
  <title>DoorOpener</title>

  <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">


  <script src="../static/js/noselect.js"></script>
</head>

<body>
  <header></header>

  <main class="single_box">
    <div class="login-form">
      <form action="signup?code={{ code }}" method="post">
        {% if message %}
        <input id="username" type="text" name="username" class="text-field" placeholder="아이디" value="{{ username }}" required>
        {% else %}
        <input id="username" type="text" name="username" class="text-field" placeholder="아이디" required>
        {% endif %}
        {% if message %}
        <p>다른 아이디를 사용하십시오.</p>
        {% endif %}
        <input id="pw1" type="password" name="password" class="text-field" placeholder="비밀번호" required minlength="8">
        <input id="pw2" type="password" name="password2" class="text-field" placeholder="비밀번호 재입력" required oninput="validatePassword()">
        <input type="submit" value="계정 생성" class="submit-btn">
      </form>
      <script>
        var pw1 = document.getElementById("pw1")
        var pw2 = document.getElementById("pw2");
    
        function validatePassword() {
          if (pw1.value != pw2.value) {
            pw2.setCustomValidity("비밀번호가 일치하지 않습니다.");
          } else {
            pw2.setCustomValidity(''); // 오류가 없으면 메시지를 빈 문자열로 설정해야한다. 오류 메시지가 비어 있지 않은 한 양식은 유효성 검사를 통과하지 않고 제출되지 않는다.
          }
        }
      </script>
  </main>


  <footer style="visibility: hidden;">

  </footer>

</body>



</html>