<html>

<head>
    <title>DoorOpener</title>
    
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
    <script>
        function confirmDelete() {
            var result = confirm("토큰을 정말로 파기하시겠습니까?\n이 작업은 되돌릴 수 없습니다.");
            if (result) {
                // "확인"을 클릭했을 때 수행할 작업을 여기에 작성합니다.
                console.log("삭제를 진행합니다.");
            } else {
                // "취소"를 클릭했을 때 수행할 작업을 여기에 작성합니다.
                console.log("삭제를 취소합니다.");
            }
        }
    </script>
</head>

<body class="noCenter">
    <header>
        <div class="header_wrapper_history">
            <div class="header_back" onclick="location.href='/settings/shortcuts'">
                <span class="material-symbols-rounded">arrow_back_ios_new</span>
                <p>뒤로</p>
            </div>
            <div class="header_title">
                <h1>토큰 생성 및 관리</h1>
            </div>

        </div>
    </header>

    <main class="settings_wrapper" autofocus>
        <div class="general_wrapper">
            <div class="settings_items">
                <div class="settings_row executebtn goto_test" onclick="location.href='token/generate'">
                    <p class="settings_items_text">토큰 생성</p>
                </div>
            </div>
        </div>
        <div class="general_wrapper">
            <div class="settings_items">
                <div class="settings_row warnbtn token_revoke" onclick="location.href='token/revoke'">
                    <p class="settings_items_text">토큰 파기</p>
                </div>
            </div>
        </div>


    </main>



    <footer class="footer_settings">
        <div class="homebtn nav_unselected" onclick="location.href='/'">
            <span class="material-symbols-rounded">
                home
            </span>
            <p>홈</p>
        </div>
        <div class="settingbtn nav_selected" onclick="location.href='/settings'">
            <span class="material-symbols-rounded">
                settings
            </span>
            <p>설정</p>
        </div>
    </footer>





</body>



</html>