<html>
<head>
    <title>DoorOpener</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style>
        * {
           margin: 0px; 
        }
        iframe {
            width: 100%; 
            height: calc(100% - env(safe-area-inset-top));
            border: none;
            display: flex;
        }

        body {
            padding-top: env(safe-area-inset-top);
            /* padding-bottom: env(safe-area-inset-bottom); */
        }

    </style>
</head>
<body>
    <iframe src="https://dooropener.jihun.io"></iframe>
</body>
</html>